* {
  padding: 0;
  margin: 0;
  font-family: "Tilt Neon", sans-serif;
  user-select: none;
  color: var(--primary-text-color);
}
nav.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 36px;
  margin-top: 13px;
}

.logo {
  font-size: 27pt;
}
section.board-section {
  gap: 1rem;
  width: 78vw;
  margin: auto;
  margin-top: 20px;
  align-items: baseline;
  display: none;
}

.board-container {
  border: 1px solid var(--card-border-color);
  flex: 1;
  background: var(--primary-color);
  border-radius: 9px;
  box-shadow: var(--card-box-shadow);
}
body {
  background: var(--bg);
  transition: 0.3s;
}

.board-title {
  font-weight: bold;
  font-size: 16pt;
  padding: 10px 0px 0px 10px;
}

.board-item {
  margin: 0px 5px;
  background: var(--board-item-bg);
  padding: 11px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
}
.board-item:hover {
  background: var(--board-item-hover-bg);
}
.add-task {
  margin: 10px 5px;
  background: var(--add-task-bar-bg);
  border-radius: 8px;
  cursor: pointer;
  color: var(--add-task-bar-txt);
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0px 11px;
  border: 2px solid transparent;
}

i.ic-add-task {
  font-size: 0pt;
}
#task_entry_form {
  display: none;
}
.add_task_display {
  /* background: var(--add-task-bar-bg); */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  color: var(--add-task-bar-txt);
  flex-direction: row-reverse;
}
input#task_entry {
  background: transparent;
  border: none;
  /* background: red; */
  font-size: 12pt;
  width: 100%;
  caret-color: #9c27b0;
  color: var(--task-entry-txt);
}

input#task_entry:focus {
  outline: none;
}

input#task_entry::placeholder {
  color: #9c27b0;
}
.context-menu {
  background: #121212;
  position: absolute;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  left: 10rem;
  display: none;
}

menu#context_del {
  cursor: pointer;
  background: #121212;
  padding: 6px;
  border-radius: 5px;
  transition: 0.15s;
  display: flex;
  align-items: center;
  gap: 5px;
}

menu#context_del:hover {
  background: #1b1b1b;
}
i.trashcan {
  font-size: 10pt;
}
.drop-task-here {
  /* background: red; */
  height: 8rem;
  width: 86%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--drop-task-here-txt);
  border: 2px dashed var(--card-border-color);
  margin-bottom: 2rem;
  display: none;
}
div#dummy_slot {
  height: 10px;
}
.dragging {
  display: none;
}
.dragged_slot {
  margin: 5px;
  background: var(--board-item-bg);
  padding: 11px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
  height: 20px !important;
}
div#boardDoing {
  padding-bottom: 10px;
}
div#boardFinished {
  padding-bottom: 10px;
}
.board-body {
  max-height: calc(100vh - 18rem);
  overflow: auto;
}
.theme-toggle-btn {
  background: transparent;
  display: block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.15s;
}
.theme-toggle-btn:hover {
  background: var(--board-item-hover-bg);
}
@media only screen and (max-width: 768px) {
  section.board-section {
    width: 97vw;
    gap: 1px;
  }
}

.board-body::-webkit-scrollbar {
  width: 5px;
}

/* Style the scrollbar thumb (the draggable part) */
.board-body::-webkit-scrollbar-thumb {
  background: var(--board-item-hover-bg);
  border-radius: 1px;
}

/* Style the scrollbar track on hover */
.board-body::-webkit-scrollbar-track:hover {
  background: #aaa; /* Change the background color on hover */
}

/* Style the scrollbar thumb on hover */
.board-body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change the thumb color on hover */
}
footer.footer {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

a.footer-link {
  font-weight: bold;
  text-decoration: none;
  color: #9c27b0;
}
section#initialScreen {
  display: flex;
  justify-content: space-between;
  width: 78vw;
  margin: auto;
  margin-top: 20px;
  gap: 1rem;
  height: 77vh;
}

.board-list-item {
  background: var(--primary-color);
  margin-bottom: 0.6rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.is-board-list {
  flex: 1;
}

.is-create {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.flex-between-center-top {
  display: flex;
  justify-content: space-between;
}

.flex-start-middle {
  display: flex;
  justify-content: start;
  gap: 7px;
}

.bli-meta-item {
  font-size: 11pt;
  opacity: 0.7;
}

.bli-title {
  font-size: 16pt;
}

.is-create-form h3 {
  font-size: 20pt;
  margin-bottom: 0.5rem;
}

input.is-create-field {
  display: block;
  background: no-repeat;
  border: none;
  font-size: 20pt;
  width: 100%;
  border-bottom: 1px solid #ffffff33;
  padding: 0.3rem 0rem;
  margin-bottom: 1rem;
  transition: 0.15s;
}

.is-create-form {
  width: 80%;
}

button.btn-primary {
  background: #673ab7;
  border: none;
  padding: 8px 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.13s;
}

button:focus,
input:focus {
  outline: none;
}

button.btn-lg {
  padding: 0.7rem 2rem;
  font-size: 14pt;
}

input.is-create-field:focus {
  border-bottom-color: #7a00bb;
}

button.btn-primary:hover {
  background: #7a43db;
}
